* {
    box-sizing: border-box;
    font-family: 'Fira Code';
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: grey;
}
.container {
    box-sizing: content-box;
    margin-top: 75px;  
    height: 400px;
    width: 250px;
    border: solid 8px;
    border-radius: 12px;
    background-color: rgb(22, 22, 22);
}

.display {
    height: 75px;
    margin: 10px;
    background-color:lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    padding: 10px;
    font-weight: 600;
}

.buttons {
    margin-left: 10px;
    margin-right: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 70px;
    height: 60px;
    font-size: 30px;
    padding: 0;
    background-color: rgb(10, 10, 216);
    color: rgb(209, 209, 209);
}

.equal {
    width: 140px;
}

.operation, .equal {
    background-color: orange;
    color: black;
}

.number {
    background-color: grey;
    color: black;
}

